<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="../assets/fonts/materialize_icons.css">
	<link rel="stylesheet" href="../assets/css/urlWindow.css">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>URL Window</title>
	<style>

	</style>
</head>
<body>
<main>
	<div id="controls">
		<button id="btn-bck" class="waves-effect waves-teal btn btn-ctl">
			<i class="material-icons">arrow_back</i>
		</button>
		<button id="btn-fwd" class="waves-effect waves-teal btn btn-ctl">
			<i class="material-icons">arrow_forward</i>
		</button>
		<button id="btn-rel" class="waves-effect waves-teal btn btn-ctl">
			<i class="material-icons">refresh</i>
		</button>
	</div>
	<div id="form">
		<form onsubmit="(e => e.preventDefault())(event)">
			<input placeholder="Enter URL" id="url-inp" type="text" autofocus/>
		</form>
		<button id="btn-close" class="waves-effect waves-teal red darken-2 btn btn-ctl">
			<i class="material-icons">close</i>
		</button>
	</div>
</main>
<script src="urlWindow.js"></script>
</body>
</html>
