body, html {
    margin: 0;
    padding: 0;
    background-color: #343434;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;

}

#controls {
    width: 150px;
    height: 100%;
    display: flex;
}

#form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#form form {
    flex-grow: 1;
}

#form form input {
    border: none;
    height: 93vh;
    font-size: 32px;
    padding-left: 10px;
    background-color: #565656;
    color: #ffffff;
}

.btn-ctl {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 5px;
    height: 48px;
    width: 48px;
    margin-right: 1px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}

.btn-ctl i {
    font-size: 32px;
}

.btn-ctl:hover {
    background-color: #5cbf2a;
}

.btn-ctl:active {
    position: relative;
    top: 1px;
}
